.card {
    margin-bottom: 4rem;
    box-shadow: 0px 6px 6px $shadowColor;
    transition: all 0.2s;

    &:hover {
        box-shadow: 0 0 0 $shadowColor;
    }
}

.viewmoreBtn {
    background-color: $buttonColor;
    border: none;
    font-family: $buttonFont-family;
    font-weight: bold;
    font-size: 1em;
    word-spacing: 0.2rem;

}

.viewmoreBtn:focus {
    box-shadow: none;
}


.searchPokemon {
    margin-bottom: 2rem;
}