.contactForm {
    width: 85%;
    margin-left: 4rem;
    margin-bottom: 10rem;


    &__heading {
        padding-left: 2rem;
        padding-top: 2rem;

        &--headingMain {
            font-family: $textFont-family;
            font-size: 2em;
            font-weight: bold;
        }
    }

    &__row {
        padding-left: 6rem;
        padding-right: 2rem;
        padding-top: 2rem;
        width: 85%;

        &__label {
            font-weight: bold;
            font-family: $textFont-family;
            font-size: 1em;
            padding-top: 0.5rem;

        }
    }

    &__btn {
        padding-bottom: 1rem;
        padding-top: 2rem;


        &--sendFormbtn {
            background-color: $buttonColor;
            margin-left: 70%;
            border: none;
            font-family: $buttonFont-family;
            font-weight: bold;
            font-size: 1em;
            width: 20%;
        }

        &--sendFormbtn:focus {
            box-shadow: none;
        }

    }
}

//media query 6..............//
@media (max-width:1024px) {
    .contactForm {
        width: 100%;
        margin-left: 0rem;
        margin-top: 8rem;

        &__heading {
            padding-top: 1rem;
            padding-left: 1rem;
        }

        &__row {
            padding-left: 0rem;
            padding-top: 1rem;
            width: 100%;

            &__label {
                font-weight: bold;
                font-size: 1em;
                padding-top: 0.5rem;
            }

        }

        &__btn {
            &--sendFormbtn {
                margin-left: 28%;
            }

        }

    }

}

//media query 5..............//
@media (max-width:768px) {

    .contactForm {
        width: 100%;
        margin-left: 0rem;
        margin-top: 5rem;

        &__heading {
            padding-top: 1rem;
            padding-left: 1rem;
        }

        &__row {
            padding-left: 1rem;
            padding-top: 1rem;
            width: 100%;

            &__label {
                font-weight: bold;
                font-size: 1em;
                padding-top: 0.5rem;
            }
        }

        &__btn {
            &--sendFormbtn {
                margin-left: 68%;
            }

        }

    }

}

//media query 4...............//
@media (max-width:414px) {
    .contactForm {
        width: 100%;
        margin-left: 0rem;
        margin-top: 3rem;

        &__heading {
            padding-top: 1rem;
            padding-left: 1rem;
        }

        &__row {
            padding-left: 1rem;
            padding-top: 1rem;
            width: 100%;

            &__label {
                font-weight: bold;
                font-size: 0.8em;
                padding-top: 0.5rem;
            }
        }

        &__btn {
            &--sendFormbtn {
                margin-left: 62%;
            }

        }

    }

}


//media query 3...............//
@media (max-width:411px) {
    .contactForm {
        width: 100%;
        margin-left: 0rem;
        margin-top: 3rem;

        &__heading {
            padding-top: 1rem;
            padding-left: 1rem;
        }

        &__row {
            padding-left: 1rem;
            padding-top: 1rem;
            width: 100%;

            &__label {
                font-weight: bold;
                font-size: 0.8em;
                padding-top: 0.5rem;
            }
        }


    }

}



//media query 2...............//
@media (max-width:360px) {

    .contactForm {
        width: 100%;
        margin-left: 0rem;
        margin-top: 3rem;

        &__heading {
            padding-top: 1rem;
            padding-left: 1rem;
        }

        &__row {
            padding-left: 1rem;
            padding-top: 1rem;
            width: 100%;

            &__label {
                font-weight: bold;
                font-size: 0.9em;
                padding-top: 0.5rem;
            }
        }


    }
}

//media query 1...............//
@media (max-width:320px) {


    .contactForm {
        width: 100%;
        margin-left: 0rem;
        margin-top: 3rem;

        &__heading {
            padding-top: 1rem;
            padding-left: 1rem;
        }

        &__row {
            padding-left: 1rem;
            padding-top: 1rem;
            width: 100%;

            &__label {
                font-size: 0.8em;
                padding-top: 0.4rem;
            }
        }

        &__btn {
            &--sendFormbtn {
                margin-left: 60%;
            }

        }

    }
}