@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=PT+Serif&family=Source+Sans+Pro:wght@600&family=Yellowtail&display=swap" rel="stylesheet');


$logofont-family: 'Yellowtail',
cursive;
$navLinkfont-family: 'Averia Serif Libre',
cursive;
$textFont-family: 'PT Serif',
serif;
$buttonFont-family: 'Source Sans Pro',
sans-serif;